<!-- 

<body>

    {% extends 'base.html' %}

    {% import 'macros.html' as macro %}


    <!-- {% import 'models.py' as models} -->

    <!-- Content Block-->
    {% block content%}
    <div class="container">
                <h3 class="text-center"> Top Stories </h3>
                <hr>
                {{ macro.dispalyNewsList(top) }}

                <!-- <h4>source</h4>
                {{ models.}} -->

                <!-- <h3 class="text-center">Featured</h3>
                <hr>
                {{ macro.dispalyNewsList(news) }} -->

            </div>
        </div>





            {% endblock %}


</body>

</html> -->